
<div style="overflow: auto;height:500px;overflow-x: hidden;">

  <div style="margin-top:20px;">
    <table id="customers">
      <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Full Name</th>
      </tr>
      <tr *ngFor="let rep of reposData">
          <td>{{rep.id}}</td>
          <td>{{rep.name}}</td>
          <td>{{rep.full_name}}</td>
          
        </tr>
      </table></div>

</div>

    <div  class="pagination" style="
margin-left: 470px;
margin-top: 30px;
">
<a href="javascript:void(0)" (click)="prev()" *ngIf="pagenumber != 1">&laquo;</a>
<a *ngFor="let items of paginationNumbers" [ngClass]="{'active': pagenumber == items}" (click)="pagination(items)">
  {{items}}
</a>
<a href="javascript:void(0)" (click)="next()" *ngIf="pagenumber != 10 && reposData.length >= 30">&raquo;</a>
</div>